.my-services {
    margin-bottom: 190px;
    &__row {
        margin: 0 -15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    &__col {
        max-width: 100%;
        flex: 0 0 100%;
        padding: 0 15px;
        @media(min-width: 768px) {
            max-width: 33.333%;
            flex: 0 0 33.333%;
        }
    }
}