.hello {
    padding-top: 133px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    @media(min-width: 768px) {
        padding-top: 233px;
        margin-bottom: 150px;
    }
    &__text {
        max-width: 682px;
        width: 100%;
        position: relative;
        &-circle {
            position: absolute;
            right: 0;
            top: -50px;
            z-index: -1;
            pointer-events: none;
            width: 153px;
            height: 153px;
            // border: 5px solid #12152F;
            border-radius: 50%;
            pointer-events: none;
            display: none;
            @media(min-width: 576px) {
                display: block;
            }
            @media(min-width: 768px) {
                right: -28px;
            }
        }
        &-line {
            position: absolute;
            top: 320px;
            left: -500px;
            pointer-events: none;
            display: none;
            @media(min-width: 1475px) {
                display: block;
            }
        }
        &-title {
            font-size: 50px;
            line-height: 60px;
            @media(max-width: 600px) {
                font-size: 45px;
                line-height: 55px;
            }
            @media(max-width: 500px) {
                font-size: 35px;
                line-height: 45px;
            }
            &-light {
                font-weight: 300;
                margin-bottom: 30px;
            }
            &-bold {
                font-weight: 700;
                margin-bottom: 30px;
                overflow: hidden;
                white-space: nowrap;
                span {
                    display: inline-block;
                    @media(max-width: 600px) {
                        display: block;
                    }
                }
            }
        }
        &-buttons {
            position: relative;
            a:first-of-type {
                margin-right: 35px;
                margin-bottom: 15px;
            }
            &::after {
                content: '';
                position: absolute;
                width: 24px;
                height: 24px;
                border: 3px solid #12152F;
                border-radius: 50%;
                bottom: -150px;
                left: 50px;
                @media(min-width: 1250px) {
                    left: 10px;
                }
            }
            &::before {
                content: '';
                position: absolute;
                bottom: -100px;
                left: 0;
                width: 44px;
                height: 38px;
                background-image: url('/images/small-triangle.svg');
                background-size: cover;
                background-position: center;
                @media(min-width: 1250px) {
                    left: -40px;
                }
            }
        }
    }
    &__image {
        display: none;
        @media(min-width: 1024px) {
            display: block;
        }
        img {
            margin-top: -40px;
            height: 713px;
        }
    }
}
