.menu-item {
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    &:hover {
        a {
            color: #6B84FF;
        }
    }
    a {
        color: #fff;
        padding: 10px 20px;
        display: block;
        &.active {
            color: #6B84FF;
        }
    }
}

.burger-item {
    display: block;
    font-size: 35px;
    line-height: 45px;
    color: #fff;
    text-align: center;
    text-transform:inherit;
    @media(min-width: 575px) {
        font-size: 45px;
        line-height: 55px;
    }
    li {
        margin-bottom: 20px;
        a {
            color: #fff;
            &:hover {
                color: #6B84FF;
            }
        }
    }
}