.view-all {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    line-height: 24px;
    font-weight: 600;
    position: relative;
    color: #6B84FF;
    margin-bottom: 40px;
    &.right {
        justify-content: flex-end;
    }
    &::before {
        content: '';
        width: 50px;
        height: 2px;
        background-color: #fff;
        margin-right: 20px;
    }
}