.contact {
    margin-bottom: 100px;
    margin-top: 100px;
    @media(min-width: 768px) {
        margin-bottom: 190px;
        margin-top: 130px;
    }
    &__info {
        display: flex;
        flex-wrap: wrap;
        &-text {
            margin-bottom: 30px;
            max-width: 100%;
            flex: 0 0 100%;
            @media(min-width: 768px) {
                margin-bottom: 0px;
                max-width: 50%;
                flex: 0 0 50%;
            }
            &-btn {
                font-size: 14px;
                line-height: 14px;
                color: #fff;
                padding: 9px 20px 8px 20px;
                background: darken($color: #6B84FF, $amount: 10);
                display: inline-block;
                margin-bottom: 24px;
            }
            &-title {
                font-size: 32px;
                line-height: 41px;
                font-weight: 700;
                margin-bottom: 20px;
                color: #fff;
                @media(min-width: 575px) {
                    font-size: 42px;
                    line-height: 51px;
                    margin-bottom: 30px;
                }
            }
            &-description {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 50px;
                color: #fff;
                max-width: 470px;
            }
            &-subtitle {
                font-size: 20px;
                line-height: 24px;
                font-weight: 700;
                margin-bottom: 20px;
                color: #fff;
            }
            &-value {
                color: #B0B0B2;
                font-size: 14px;
                line-height: 24px;
            }
        }
        &-form {
            max-width: 100%;
            flex: 0 0 100%;
            @media(min-width: 768px) {
                margin-bottom: 0px;
                max-width: 50%;
                flex: 0 0 50%;
            }
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        &-image {
            max-width: 50%;
            flex: 0 0 50%;
            padding-left: 50px;
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            @media(min-width: 768px) {
                margin-bottom: 0px;
            }
            @media(min-width: 1024px) {
                max-width: 40%;
                flex: 0 0 40%;
            }
            svg {
                max-width: 100%;
            }
        }
    }
    &__many {
        position: absolute;
        right: 0;
        top: -161px;
        pointer-events: none;
        @media(min-width: 1500px) {
            right: -161px;
        }
    }
}