.header {
    /* This class intentionally left empty */
    &__home {
        &-title {
            display: none;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 43px;
        &-logo {
            img {
                max-width: 145px;
                display: block;
                @media(min-width: 575px) {
                    max-width: 165px;
                }
            }
        }
        &-burger {
            display: block;
            cursor: pointer;
            @media(min-width: 950px) {
                display: none;
            }
            svg {
                max-width: 20px;
                path {
                    fill: #fff;
                }
            }
        }
        &-menu {
            display: none;
            align-items: center;
            @media(min-width: 950px) {
                display: flex;
            }
            .blue-btn {
                margin-left: 40px;
            }
        }
    }
}