.home {
    max-width: 1200px;
    margin: 0 auto;
}

.geometry-top-left {
    position: absolute;
    top: -100px;
    left: -100px;
    pointer-events: none;
    z-index: -1;
    svg {
        position: relative;
        polygon {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
}
.geometry-bottom-left {
    position: absolute;
    bottom: 490px;
    left: -100px;
    pointer-events: none;
    z-index: -1;
    max-width: 252px;
}
.geometry-dotts {
    position: absolute;
    top: 60%;
    left: 0;
    transform: translate(0,-50%);
    pointer-events: none;
    @media(max-width: 1650px) {
        display: none;
    }
    img {
        max-width: 205px;
    }
}
.geometry-bottom-right {
    position: absolute;
    right: 50px;
    bottom: 150px;
    pointer-events: none;
    z-index: -1;
}