.about-me {
    margin-bottom: 75px;
    color: #fff;
    @media(min-width: 768px) {
        margin-bottom: 190px;
    }
    &.single-page {
        margin-top: 190px;
    }
    &__wrapper {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        justify-content: space-between;
        @media(min-width: 768px) {
            flex-wrap: nowrap;
        }
        &-text {
            max-width: 100%;
            flex: 0 0 100%;
            @media(min-width: 768px) {
                max-width: 50%;
                flex: 0 0 50%;
                padding-right: 55px;
            }
            &-hello {
                font-size: 14px;
                line-height: 24px;
                margin-bottom: 20px;
            }
            &-name {
                font-size: 28px;
                line-height: 34px;
                font-weight: 700;
                margin-bottom: 32px;
            }
            p {
                margin-top: 0px;
                margin-bottom: 53px;
            }
            &-buttons {
                display: none;
                @media(min-width: 768px) {
                    display: inline-block;
                }
            }
        }
        &-skills {
            max-width: 100%;
            flex: 0 0 100%;
            font-size: 14px;
            line-height: 24px;
            color: #E2E2E3;
            @media(min-width: 768px) {
                max-width: 50%;
                flex: 0 0 50%;
                padding-left: 55px;
            }
        }
    }
}